# População

In [1]:
link_fonte = "https://paises.ibge.gov.br/#/mapa/ranking/india?indicador=77849&tema=5&ano=2022"

In [27]:
IBGE_populacao_total_2022 = ''''Posição País habitantes
1° Índia 1.417.173.173
2° China 1.412.175.000
3° EstadosUnidosdaAmérica 333.287.557
4° Indonésia 275.501.339
5° Paquistão 235.824.862
6° Nigéria 218.541.212
7° Brasil 203.062.512
8° Bangladesh 171.186.372
9° Rússia 143.555.736
10° México 127.504.125
11° Japão 125.124.989
12° Etiópia 123.379.924
13° Filipinas 115.559.009
14° Egito 110.990.103
15° RepúblicaDemocráticadoCongo 99.010.212
16° Vietnã 98.186.856
17° Irã 88.550.570
18° Turquia 85.341.241
19° Alemanha 84.079.811
20° Tailândia 71.697.030
21° França 67.935.660
22° ReinoUnido 66.971.411
23° Tanzânia 65.497.748
24° ÁfricadoSul 59.893.885
25° Itália 58.856.847
26° Mianmar 54.179.306
27° Quênia 54.027.487
28° Colômbia 51.874.024
29° RepúblicadaCoreia 51.628.117
30° Espanha 47.615.034
31° Uganda 47.249.585
32° Sudão 46.874.204
33° Argentina 46.234.830
34° Argélia 44.903.225
35° Iraque 44.496.122
36° Afeganistão 41.128.771
37° Canadá 38.929.902
38° Ucrânia 38.000.000
39° Polônia 37.561.599
40° Marrocos 37.457.971
41° ArábiaSaudita 36.408.820
42° Uzbequistão 35.648.100
43° Angola 35.588.987
44° Peru 34.049.588
45° Malásia 33.938.221
46° Iêmen 33.696.614
47° Gana 33.475.870
48° Moçambique 32.969.518
49° Nepal 30.547.580
50° Madagascar 29.611.714
51° Venezuela 28.301.696
52° CostadoMarfim 28.160.542
53° Camarões 27.914.536
54° Niger 26.207.977
55° RepúblicaPopularDemocráticadaCoreia 26.069.416
56° Austrália 25.978.935
57° BurkinaFaso 22.673.762
58° Mali 22.593.590
59° SriLanka 22.181.000
60° Síria 22.125.249
61° Malauí 20.405.317
62° Zâmbia 20.017.675
63° Cazaquistão 19.621.972
64° Chile 19.603.733
65° Romênia 18.956.666
66° Equador 18.001.000
67° Chade 17.723.315
68° Holanda 17.703.090
69° Somália 17.597.511
70° Guatemala 17.357.886
71° Senegal 17.316.449
72° Camboja 16.767.842
73° Zimbábue 16.320.537
74° Guiné 13.859.341
75° Ruanda 13.776.698
76° Benin 13.352.864
77° Burundi 12.889.576
78° Tunísia 12.356.117
79° Bolívia 12.224.110
80° Bélgica 11.669.446
81° Haiti 11.584.996
82° Jordânia 11.285.869
83° RepúblicaDominicana 11.228.821
84° Cuba 11.212.191
85° SudãodoSul 10.913.164
86° Grécia 10.566.531
87° RepúblicaTcheca 10.526.073
88° Suécia 10.486.941
89° Honduras 10.432.860
90° Portugal 10.379.007
91° Azerbaijão 10.175.016
92° PapuaNovaGuiné 10.142.619
93° Tadjiquistão 9.952.787
94° Hungria 9.683.505
95° Israel 9.550.600
96° EmiradosÁrabesUnidos 9.441.129
97° Belarus 9.208.701
98° Áustria 9.042.528
99° Togo 8.848.699
100° Suíça 8.769.741
101° SerraLeoa 8.605.718
102° Laos 7.529.475
103° Nicarágua 6.948.392
104° Líbia 6.812.341
105° Quirguistão 6.803.300
106° Paraguai 6.780.744
107° Sérvia 6.760.087
108° Bulgária 6.465.097
109° Turcomenistão 6.430.770
110° ElSalvador 6.336.392
111° RepúblicadoCongo 5.970.424
112° Dinamarca 5.903.037
113° Singapura 5.637.022
114° RepúblicaCentro-Africana 5.579.144
115° Finlândia 5.556.880
116° Líbano 5.489.739
117° Noruega 5.457.127
118° Eslováquia 5.431.752
119° Libéria 5.302.681
120° CostaRica 5.180.829
121° NovaZelândia 5.124.100
122° Irlanda 5.086.988
123° Mauritânia 4.736.139
124° Omã 4.576.298
125° Panamá 4.408.581
126° Kuwait 4.268.873
127° Croácia 3.854.000
128° Geórgia 3.712.502
129° Eritreia 3.684.032
130° Uruguai 3.422.794
131° Mongólia 3.398.366
132° BósniaeHerzegovina 3.233.526
133° Lituânia 2.833.000
134° Jamaica 2.827.377
135° Armênia 2.780.469
136° Albânia 2.775.634
137° Gâmbia 2.705.992
138° Catar 2.695.122
139° Botsuana 2.630.296
140° Moldávia 2.592.477
141° Namíbia 2.567.012
142° Gabão 2.388.992
143° Lesoto 2.305.825
144° Eslovênia 2.108.732
145° Guiné-Bissau 2.105.566
146° MacedôniadoNorte 2.057.679
147° Letônia 1.883.379
148° GuinéEquatorial 1.674.908
149° TrinidadeTobago 1.531.044
150° Barein 1.472.233
151° Estônia 1.344.768
152° Timor-Leste 1.341.296
153° Maurício 1.262.523
154° Chipre 1.251.488
155° Eswatini 1.201.670
156° Djibouti 1.120.849
157° Fiji 929.766
158° Comores 836.774
159° Guiana 808.726
160° Butão 782.455
161° IlhasSalomão 724.273
162° Luxemburgo 650.774
163° Suriname 618.040
164° Montenegro 616.159
165° CaboVerde 593.149
166° Maldivas 523.787
167° Malta 523.417
168° Brunei 449.002
169° Bahamas 409.984
170° Belize 405.272
171° Islândia 381.900
172° Vanuatu 326.740
173° Barbados 281.635
174° SãoToméePríncipe 227.380
175° Samoa 222.382
176° SantaLúcia 179.857
177° Kiribati 131.232
178° Granada 125.438
179° Micronésia 114.164
180° Tonga 106.858
181° SãoVicenteeGranadinas 103.948
182° Seichelles 100.060
183° AntíguaeBarbuda 93.763
184° Andorra 79.824
185° Dominica 72.737
186° SãoCristóvãoeNevis 47.657
187° IlhasMarshall 41.569
188° Liechtenstein 39.327
189° Mônaco 36.469
190° SanMarino 33.660
191° Palau 18.055
192° Nauru 12.668
193° Tuvalu 11.312'''

In [28]:
from io import StringIO
import pandas as pd

dados_io = StringIO(IBGE_populacao_total_2022)

In [29]:
populacao_total = pd.read_csv(dados_io, sep=" ")

In [30]:
populacao_total.head()

  'Posição                    País     habitantes
0       1°                   Índia  1.417.173.173
1       2°                   China  1.412.175.000
2       3°  EstadosUnidosdaAmérica    333.287.557
3       4°               Indonésia    275.501.339
4       5°               Paquistão    235.824.862

In [32]:
populacao_total.columns = ["Posicao", "Pais", "Habitantes"]

In [33]:
populacao_total.head()

  Posicao                    Pais     Habitantes
0      1°                   Índia  1.417.173.173
1      2°                   China  1.412.175.000
2      3°  EstadosUnidosdaAmérica    333.287.557
3      4°               Indonésia    275.501.339
4      5°               Paquistão    235.824.862

In [35]:
populacao_total.to_csv("../Data/Populacao_Total", sep=";", index=False)

# Pirâmide Etária do Brasil

In [38]:
IBGE_piramide_etaria_brasil = "https://educa.ibge.gov.br/jovens/conheca-o-brasil/populacao/18318-piramide-etaria.html"

# United Nations - População e Previsão

In [39]:
UN_populacao_previsao = "https://population.un.org/wpp/Download/Standard/Population/"

# Distribuição Etária Mundial

In [40]:
UN_distribuicao_etaria = "https://www.populationpyramid.net/pt/mundo/2020/"